// *:before,
// *:after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
// }

.image-hero {
  height: 100vh;
  width: 100%;
}
.container {
  width: 40%;
  
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 60%;
  color: #ffffff !important;
  border-radius: none;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 768px) {
  .container {
    position: absolute;

    left: 50%;
    top: 70%;
  }
}
@media only screen and (max-width: 1080px) {
  .container {
    position: absolute;

    left: 50%;
    bottom: 10%;
  }
}
h1 {
  font-size: 30px;
  text-align: center;
  // color: #ffffff;
}
// p {
//   position: relative;
//   margin: auto;
//   width: 100%;
//   text-align: center;
//   color: #606060;
//   font-size: 14px;
//   font-weight: 400;
// }
form.ms-form {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}

input.ms-input {
  border-top: none;
  border-left: none;
  border-right: none;

  border-bottom: 2px solid #fe0000;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px;
  outline: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::placeholder {
  color: white;
  font-size: 1rem;
}
textarea {
  resize: none;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #fe0000;
}
.action-button {

    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }

  .action-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.fileupload {
  height: 100%;
  width: 100%;
}
.fileupload {
  box-sizing: border-box;
  border: 5px dashed;
  color: #fe0000;
}
.date-time
{
  margin-top: 20px;
}