@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../../styles/fonts/spacepower/SpacePowerDemoRegular.ttf) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
.Navbar {
  width: 99.9%;
  height: 30px;
  border: 1px #000 solid;
  position: absolute;
}
.anim {
  height: calc(100vh - 152px) !important;
}

.absolute {
  position: absolute;
  width: 100%;
}
.herotext {
  width: 100%;
  padding-top: 35px;
  color: #fdfd;
  font-size: 10rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.flex {
  display: flex;
}
.Animation {
  background-color: #fff;
}
/* .tag-line
{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
} */
.other {
  height: 100vh;
  background-color: #030303;
}
.object {
  top: 329px;
  top: 329px;
  left: -257.8944396972656px;
  width: 509px;
  height: 514px;
  transform: matrix(-0.05, 1, -1, -0.05, 0, 0);
  /* UI Properties */
  background: transparent url("") 0% 0% no-repeat padding-box;
  opacity: 0.58;
}
.background-color {
  background-color: rgb(20, 20, 20);
}
.background {
  height: calc(100vh - 120px);
}
.Heroimage {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35%;
}
.main-text {
  padding-top: 10%;
  padding-right: 10%;
  text-align: right;
}

.game {
  color: red;
  font-family: "MyFont";
}
.hero-text {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  font-family: "MyFont";
}

.all-sponsers {
  display: flex;
  padding-top: 40px;
}
.Livepeerlogo {
  width: 150px;
  padding-right: 20px;
}
.Polygonelogo {
  width: 150px;
  padding-right: 20px;
}
.Zoralogo {
  width: 150px;
  padding-right: 20px;
}
.Musiclogo {
  width: 150px;
  padding-right: 20px;
}
.nftstoragelogo {
  width: 150px;
  padding-right: 20px;
}
.flex-grow {
  flex-grow: 1;
}
.tag-line {
  padding-top: 20px;
}
/*

Color Pallete
  #EF84F5
  #15265C
  #2EE09A
  #FFFFFF
*/
